# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared libraries (dynamic libraries)
*.dll
*.so
*.so.*
*.dylib

# Executables
gameserver
*.exe
*.out
*.app

# Build and Output directories
obj/
bin/
build/

# IDE / Editor configurations
.vscode/
.vs/
.idea/
*.swp
*.swo
.DS_Store
